@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');

body {
  font-family: "Asta Sans", sans-serif;
  align-items: center;
  justify-content: center;
}

.headcont {
  font-weight: bold;
  margin: 12px;
}

#intimg{
  margin-left: 50px;
  margin-right: 50px;
  width: 200px;
  height: 200px;
}

h1 {
  font-size: 50px;
}

span {
  color: orange;
}


h2 {
  font-size: 30px;
}

.contact {
  margin-left: 10px;
  margin-bottom: 10px;
  border-left: 2px solid black;
  padding: 10px;

}

.langskill {
  margin-left: 20px;
}

.title {
  border-top: 20px solid orange;
  border-bottom: 3px solid rgba(128, 128, 128, 0.443);
}

.introduce1 {
  margin-top: 50px;
  border-bottom: 3px solid  rgba(128, 128, 128, 0.443);
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.content {
  border-bottom: 3px solid  rgba(128, 128, 128, 0.443);
}

.school .activity {
  margin-bottom: 50px;
}

a {
  color: gray;
}

.say {
  text-align: center;
  font-size: 18px;
  margin: 20px;
  margin-bottom: 200px;
  background: rgb(255, 255, 255);
  padding: 20px;
  color: black;
}

