@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html{
  scroll-behavior: smooth; 
}

body {
  font-size: 12px;
  margin: 0px;
  font-family: "Orbitron";
}

.headset{
  width: 100vw;
  height: 100vh;
  background-image: url('beutyuni.jpg');
  background-size: cover;
  margin-bottom: 18%;
}


.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.maintext{
  position: relative;
  top: 40vh;
  font-size: 5em;
  color: white;
}

#menu{
  position: absolute;
  box-shadow: 0px -20px 20px 11px #000000;
  background-color: rgb(21, 21, 21);
  color: white;
  width: 100%;
  top: 100vh;
  left: 0;
  border-bottom: 3px solid #20daff;
}

#menu .menuset {
  display: inline-block;
  width: 200px;
  font-size: 2em;
}

#menu .menuset > a{
  text-decoration: none;
  color: white;
}

section{
  margin-bottom: 5%;
  font-weight: bold;
}

.indextext{
  text-align:center;
  font-size: 4em;
  margin-bottom: 20px;
}

.introduceset{
  font-size: 2em;
}

/*임성택 얼굴 사진*/
.photoset{
  width : 300px; 
  height: 300px;
  border-radius: 50%;
  border: 2px solid #20daff;
  box-shadow: 1px 1px 1px 1px #20daff;
  margin-bottom: 30px;
  margin-top: 100px;
}


/*소개 박스*/
.intbox{
  display: inline-block;
  border: 3px solid #ccc;
  width: 600px;
  height: 300px;
  margin: 30px;
}

/*프로젝트 박스*/
.projbox div{
  display: inline-block;
  border: 3px solid #ccc;
  width: 300px;
  height: 400px;
  margin: 30px;
}

.footerset{
  background-color: #f7f7f7;
  height: 500px;
  font-weight: bold;
}

/*아이콘설정*/


.footiconset{
  display: inline-block;
  color: #ccc;
  margin-bottom: 18%;
}

/*각 섹션 배경색 지정*/
.introducecolor{
  background-color: white;
}

.educolor{
  background-color: white;
}

.projectcolor{
  background-color: #f7f7f7;
}

.contactcolor{
  background-color: #f7f7f7;
}

.hoset{
  text-decoration: none;
  color: #000000;
  font-size: 1em;
}

@media screen and (max-width: 767px) {
  body{
    display: block;
    font-size: 1px;
    text-align: center;
    width: 100%;
  } 

  .indextext{
    font: 1em;
  }

  .headset{
    background-size: 100vh 100vw;
  }
}